:root {
    --basalto: #6b7275;
    --piedra:#ccc5bd;
    --piedra--claro:#dfdfdf;
    --rojo:#bb2730;
    --naranja:#fe7b30;
    --amarillo:#fdbd48;
    --menta:#a1bc97;
    --salvia:#67786e;
    --verde:#40a84f;
    --verdeOscuro:#025f4f;
    --azulClaro:#a7c2d5;
    --azul:#0492cb;
    --azul-oscuro: #113e83;
    --morado:#915b9e;
    --uva:#704c6c;
    --rosaClaro:#ecccdb;
    --coral:#fe887e;
    --rosaFondant:#dea1c2;
    --teja:#ad5050;
    --arcilla:#cb927c;
    --marron:#a54b2b;
    --pergamino:#c39a67;
    --arena:#9c794d;
    --beige:#f5cc82;
}